.dashboard,
.dashboard-footer {
    margin: 1% 2% 0 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.dashboard-footer {
    background: #eee;
    border-bottom: 1px solid #666;
    margin: 0 2% 1% 2%;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    height: 64px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.dashboard-footer .clock {
    font-size: 2vw;
    font-weight: bold;
    color: #555;
    border-right: 2px dotted #ccc;
}

.dashboard-footer .cidade-temperatura {
    color: #555;
    font-size: 1.8vw;
}

.dashboard-footer .feed-image {
    position: relative;
}

.dashboard-footer .feed-image img {
    width: 100%;
}

.dashboard-left {
    border-right: 2px dotted #ccc;
    padding-right: 5%;
}

.dashboard-left .painel-left {
    background-color: #ccc;
    color: #fff;
    text-align: center;
    margin-bottom: 5%
}

.dashboard-left .painel-left h2 {
    font-size: 0.9vw;
    margin: 0;
    padding: 5% 0 0 0;
}

.dashboard-left .painel-left strong {
    font-size: 6.5vw;
    color: #666;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.dashboard-middle h2 {
    margin-top: 2vw;
}

.dashboard-middle {
    font-size: 1.5vw;
    color: #666;
}

.imoveis {
    margin-top: 50px;
}